* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font: bold 20px Tahoma;
    -webkit-transition: -webkit-transform 1s;
}

h1:hover {
    color: navy;
    -webkit-transform: scale(1.2,1.2);

}

h2 {
    font: bold 14px Tahoma;
    -webkit-transition: -webkit-transform 2s;
}
h2:hover {
    -webkit-transform: rotate(20deg) skew(20deg) scale(1.7,1.7);
}

header , section, footer, aside, nav, article, hgroup {
    display: block;
}

body {
    text-align: center;
}

#bigWrapper {
    border: 1px solid purple;
    width: 1000px;
    margin: 20px auto;
    text-align: left;
}

#topHeader {
    background: -webkit-linear-gradient(left, blue, white);
    color: white;
    border: 1px solid white;
    padding: 20px;
    -webkit-transform: skew(20deg);
}

#topMenu {
    background: lightblue;
    color: blue;
}

#topMenu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px Tahoma;
    -webkit-border-radius: 3px;
    -webkit-transform: scale(.8);
}

#topMenu li:hover {
    -webkit-transform: scale(1.2, 1.2);
    color: yellow;

}

#mainSection {
    float: left;
    width: 660px;
    margin: 30px; /* 720 total px, 280 left*/
    -webkit-transition: -webkit-transform .5s;

}


#sideNews {
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 30px;
    background: lightblue;
    color: blue;
}

#sideNews li {
    list-style: none;
    padding: 5px;
    font: bold 14px Tahoma;
    -webkit-border-radius: 3px;
    -webkit-transition: -webkit-transform .5s;
}

#sideNews li:hover {
    -webkit-transform: scale(1.2, 1.2);
    color: blue;
}

#pageFooter {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid blue;
}

article {
    background: lightblue;
    color: blue;
    border: 1px solid purple;
    padding: 20px;
    margin-bottom: 15px;
}